// Цвета
$black: #161518;
$pink: #f35e79;
$white: #ffffff;

// Селкторы
$hover: #cd3a5b;
$focus: #ffced3;

// Шрифты
$font-family-base: "Montserrat", sans-serif;
$font-family-h: "Vetrino", sans-serif;

// Размеры шрифтов
$font-size-base: 24px;
$font-size-32: 32px;
$font-size-h1: 120px;
$font-size-h2: 4em;
$font-size-h2mobile: 48px;
$font-size-h3: 3em;

// Анимация
$transition: 0.3s;
